/* Common rules */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Greta Sans Medium", "Greta Sans Regular", Arial, sans-serif;
}

.container {
  width: 70%;
  margin: 0 auto;
}

/* Header rules */
#site-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}
#site-header .header-top {
  background-color: #0282f9;
  color: #ffffff;
  width: 100%;
  padding: 5px 0;
}
#site-header .header-top .container {
  display: flex;
  justify-content: flex-end;
  font-size: 13px;
}
#site-header .header-top .container a {
  color: #ffffff;
  text-decoration: none;
}
#site-header .header-top .container a:last-child {
  margin-left: 40px;
}
#site-header > .container {
  display: flex;
  justify-content: space-between;
  padding: 15px 0;
}
#site-header > .container .logo {
  max-width: 81px;
}
#site-header > .container .logo img {
  max-width: 100%;
}
#site-header > .container .header-menu {
  display: flex;
  flex-grow: 1;
  justify-content: space-evenly;
  align-items: center;
}
#site-header > .container .header-menu a {
  color: #303030;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 15px;
  font-family: "Greta Sans Condensed Bold", "Greta Sans Bold", Arial, sans-serif;
  font-weight: bold;
}
#site-header > .container .header-menu a:hover {
  color: #0282f9;
}
#site-header > .container .header-menu .searchbox {
  border-bottom: 2px solid #0282f9;
  padding: 5px 0;
  max-width: 125px;
}
#site-header > .container .header-menu .searchbox input {
  border: 0;
  position: relative;
  width: 100%;
}
#site-header > .container .header-menu .searchbox input::-moz-placeholder {
  color: #303030;
  position: absolute;
  font-weight: bold;
  right: 0;
}
#site-header > .container .header-menu .searchbox input:-ms-input-placeholder {
  color: #303030;
  position: absolute;
  font-weight: bold;
  right: 0;
}
#site-header > .container .header-menu .searchbox input::placeholder {
  color: #303030;
  position: absolute;
  font-weight: bold;
  right: 0;
}
#site-header > .container .header-menu .searchbox input:focus-visible {
  outline: 0;
}
#site-header .jumbotron {
  background-size: cover;
  background-image: url("../img/jumbotron.jpg");
  background-repeat: no-repeat;
  width: 100%;
  height: 350px;
}

/* Main content rules */
#main-content .features {
  background-color: #0282f9;
  padding: 40px 0;
}
#main-content .features .container {
  display: flex;
  justify-content: space-between;
}
#main-content .features .container a {
  display: flex;
  align-items: center;
  text-decoration: none;
}
#main-content .features .container a img {
  width: 40px;
}
#main-content .features .container a div {
  margin-left: 10px;
  color: #ffffff;
  font-size: 13px;
  font-weight: bold;
  text-transform: uppercase;
}

/* Comics route rules */
#main-content {
  background-color: #1c1c1c;
  color: #ffffff;
}
#main-content > .container.comics {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  padding: 50px 0;
  position: relative;
}
#main-content > .container.comics h2 {
  background-color: #0282f9;
  font-family: "Greta Sans Condensed Bold", "Greta Sans Bold", Arial, sans-serif;
  text-transform: uppercase;
  position: absolute;
  font-size: 30px;
  padding: 10px 30px;
  top: -30px;
  left: 0;
}
#main-content > .container.comics .comic {
  text-transform: uppercase;
  text-decoration: none;
  max-width: 192px;
  cursor: pointer;
}
#main-content > .container.comics .comic .comic-series {
  color: #ffffff;
}

/* Footer rules */
#site-footer {
  background-image: url("../img/footer-bg.jpg");
  font-size: 13px;
  color: #959595;
}
#site-footer > .container {
  display: flex;
  flex-direction: column;
  padding: 40px 0;
  background-image: url("../img/dc-logo-bg.png");
  background-repeat: no-repeat;
  background-position: right;
}
#site-footer > .container a {
  color: inherit;
  text-decoration: none;
}
#site-footer > .container a:hover {
  color: #0282f9;
}
#site-footer > .container .menus {
  display: flex;
}
#site-footer > .container .menus .footer-menu:first-child li:last-child .footer-menu {
  margin-top: 15px;
}
#site-footer > .container .menus .footer-menu {
  list-style-type: none;
}
#site-footer > .container .menus .footer-menu .menu-heading {
  font-size: 20px;
  color: #ffffff;
  text-transform: uppercase;
  font-family: "Greta Sans Condensed Bold", "Greta Sans Bold", Arial, sans-serif;
  font-weight: bold;
  margin-bottom: 15px;
}
#site-footer > .container .menus .footer-menu li {
  margin: 4px 0;
}
#site-footer > .container .menus > .footer-menu {
  margin-right: 30px;
}
#site-footer > .container .disclaimer {
  margin-top: 20px;
}
#site-footer > .container .disclaimer a {
  color: #0282f9;
}
#site-footer .call-to-action {
  padding: 30px 0;
  background-color: #303030;
}
#site-footer .call-to-action .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
#site-footer .call-to-action .container button {
  color: #ffffff;
  border: 2px solid #0282f9;
  padding: 15px 10px;
  background-color: transparent;
  cursor: pointer;
  font-size: 16px;
  font-weight: bold;
  transition: background-color 0.3s;
}
#site-footer .call-to-action .container button:hover {
  background-color: #0282f9;
}
#site-footer .call-to-action .container .social {
  display: flex;
  align-items: center;
  gap: 25px;
}
#site-footer .call-to-action .container .social a img {
  transition: filter 0.25s;
}
#site-footer .call-to-action .container .social a:hover img {
  filter: brightness(80%);
}
#site-footer .call-to-action .container .social span {
  font-size: 20px;
  color: #0282f9;
  font-family: "Greta Sans Condensed Bold", "Greta Sans Bold", Arial, sans-serif;
  font-weight: bold;
}
