/* Header rules */

#site-header {
    display: flex;
    align-items: center;
    justify-content: space-evenly;

    .container {
        .menu {
            display: flex;
            justify-content: space-evenly;
            align-items: center;
            
            a {
                text-decoration: none;
                text-transform: uppercase;
            }
        }
    }
}