/* Header rules */

#site-header {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;

    .header-top {
        background-color: $brand-color-1;
        color: $brand-color-2;
        width: 100%;
        padding: 5px 0;
        
        .container {
            display: flex;
            justify-content: flex-end;
            font-size: 13px;

            a {
                color: $brand-color-2;
                text-decoration: none;
            }

            a:last-child {
                margin-left: 40px;
            }
        }
    }

    > .container {
        display: flex;
        justify-content: space-between;
        padding: 15px 0;

        .logo {
            max-width: 81px;

            img {
                max-width: 100%;
            }
        }

        .header-menu {
            display: flex;
            flex-grow: 1;
            justify-content: space-evenly;
            align-items: center;
            
            a {
                color: $brand-color-3;
                text-decoration: none;
                text-transform: uppercase;
                font-size: 15px;
                font-family: "Greta Sans Condensed Bold", "Greta Sans Bold", Arial, sans-serif;
                font-weight: bold;

                &:hover {
                    color: $brand-color-1;
                    position: relative;
                    
                    &::after {
                        content: '';
                        width: 100%;
                        height: 4px;
                        display: block;
                        background-color: $brand-color-1;
                        position: absolute;
                        top: 62px;
                    }
                }

                &.active {
                    color: $brand-color-1;
                    position: relative;
                    
                    &::after {
                        content: '';
                        width: 100%;
                        height: 4px;
                        display: block;
                        background-color: $brand-color-1;
                        position: absolute;
                        top: 62px;
                    }
                }
            }

            .searchbox {
                border-bottom: 2px solid $brand-color-1;
                padding: 5px 0;
                max-width: 125px;

                input {
                    border: 0;
                    position: relative;
                    width: 100%;

                    &::placeholder {
                        color: $brand-color-3;
                        position: absolute;
                        font-weight: bold;
                        right: 0;
                    }

                    &:focus-visible {
                        outline: 0;
                    }
                }
            }
        }
    }

    .jumbotron {
        background-size: cover;
        background-image: url("../img/jumbotron.jpg");
        background-repeat: no-repeat;
        width: 100%;
        height: 350px;
    }
}